/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body{
  background-color: #67D3D3;
  background-repeat: no-repeat;
  background-size: cover;
}
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #67D3D3;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
