
/*BODY PRINCIPAL*/
body{
  background-color: #67D3D3;
  background-repeat: no-repeat;
  background-size: cover;
}

.tableaucontact{
  color: #425b71;
}
/*PRESENTATION PAGE ACCUEIL*/

.police1{
  text-align: center;
  font-family: 'Grenze', serif;
  font-size: 135px;
}

.police2{
  font-size: 18px;
  margin-right: 25%;
  margin-left: 25%;
}
.police3{
  margin-top: 20px;
  font-size: 15px;
}
/* Sections */
.section{
  height: 100vh;
  min-height: 400px;
  position: relative;
}

/* Containers */
.content-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content-inner{
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
}
.content-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* background */
.bottom-section{
  background: #67D3D3;
}
.section h1{
  font-size: 125px;
  text-transform: uppercase;
  text-align: center;
}
.section p,
.section a{
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
}



.presentationfrench p {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 2.5rem;
  align-items: center;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
  vertical-align: middle;
}
/*MEDIA QUERIES PAGE ACCUEIL*/
@media screen and (max-width: 730px){
.police1{
font-size: 2rem;
}
}

/*MENU DE NAVIGATION*/
.logo{
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
  float: left;
}


/*MENU DE NAVIGATION PRINCIPAL*/

ul.links {
  list-style-type: none;
  overflow:hidden;
  text-transform: uppercase;
  background: white;
  margin: 0;
  padding: 0;
}

ul.links div {
  display: flex;
  flex-direction: row;
  float: right;
}

ul.links li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: scale(1);
  transition: .3s ease-in-out;
}

ul.links li a:hover {
  color: #485D69;
  font-size: 17px;
  transform: scale(1.3);
}

ul.links li.icon {
  display: none;
}

.links .menu {
  position: relative;
}

.links .menu .submenu{
  position: absolute;
  top:42px;
  left:0;
  width:220px;
  background:#fff;
  padding:10px;
  display:none;
}

.links .menu .submenu li {
  padding: 10px;
}

.links .menu .submenu li a {
  color: #777;
  text-decoration:none
}

.links .menu .submenu:before {
  content:'';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  height:0;
  width:0;
  position:absolute;
  top:-6px;
  left: 30px;
}

.links .menu:hover .submenu {
  display:block;
}

/* MENU RESPONSIVE NAVIGATION */
@media screen and (max-width:730px) {
  ul.links li:not(:first-child) {
    display: none;
  }
  ul.links div {
    flex-direction: column;
  }
  ul.links li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:730px) {
  ul.links.responsive li.icon {
    right: 0;
    top: 0;
  }

  ul.links.responsive li {
    float: none;
    display: inline;
  }

  ul.links.responsive li a {
    display: block;
    text-align: right;
  }
}
/*PAGE LIENS*/
.tableauliens{
  width: 75%;
  margin-top: 40px;
  border: double;
  margin-right: auto;
  margin-left: auto;
}

h1{
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
}


/*PAGE GALERIE, TUTORIELS ET LIENS - EN COURS DE CONSTRUCTION*/
#construction{
  padding-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*RESPONSIVE QUERY PAGE GALERIE, TUTORIELS ET LIENS - EN COURS DE CONSTRUCTION*/
@media screen and (max-width:730px) {
  #construction {
    padding-top: 100px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*PAGE FORMULAIRE */

.titreformulaire{
  font-family: 'Grenze', serif;
  margin-top: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 66%;
  background-color: black;
  opacity: 0.8;
  font-size: 35px;
  text-align: center;
  color: ghostwhite;
}
#styleformulaire{
  text-align: center;
  margin-bottom: 30px;
  width: 50%;
  height:25px;
  vertical-align: middle;
  display: block;
}

#styleformulaire3{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 400px;
  text-align: center;
  color: black;
  font-family: 'Artifika', serif;
  margin-bottom: 40px;
  display: inline-block;
}

.form{
  background-color: black;
  opacity: 0.8;
  width: 65%;
  height: 650px;
  margin-bottom:10%;
  padding: 0.5%;
  text-align: center;
}
#buttonform{
  width: 100px;
  height: 30px;
  color: black;
  background-color: white;
  border: 2px inset ghostwhite;
  font-family: 'Artifika', serif;
  margin-bottom: 55px;
  display: block;
  transform: scale(1);
  transition: .3s ease-in-out;
}

#buttonform:hover{
  transform: scale(1.3);
}

/*FOOTER*/
footer{
  background-color: white;
  font-size: 12px;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 55px;
}
/*MEDIA QUERIES FOOTER*/
@media screen and (max-width: 730px){
  footer{
    width: 100%;
    font-size: 8px;
  }
}
.social{
  float: left;
}
.social img{
  color: white;
  padding-top: 15px ;
  padding-left: 15px;
  max-height: 32px;
}

.myself p{
  color: #485D69;
  float: right;
  padding-top: 20px;
  padding-right: 10px;
  font-size: 12px;
}


/*PAGE GALERIE*/
.aboutme{
  color: white;
}

.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}
/*PAGE TUTORIEL*/

.tuto{
  text-align: center;
  font-size: 35px;
  margin-top: 5%;
  border: 4px double #1499AF;
  border-radius: 15px 50px;
  margin-right: 35%;
  margin-left: 35%;
}
.presentationtuto{
  text-align: center;
  margin-top: 3%;
}
.tutofavori{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right:25%;


}
/* Slideshow container */
.raslebol{
  display: block;
  position: absolute;
  top: 1300px;
  margin-bottom: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60%;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: steelblue;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: steelblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*fichier pdf*/
.pdf{
  margin-top: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*PAGE ADMIN*/
.admin{
  background-color: cadetblue;
  color: #FFFFFF;
}
.box {
  border: 1px solid #c4c4c4;
  padding: 30px 25px 10px 25px;
  background: white;
  margin: 30px auto;
  width: 360px;
}
h1.box-logo a {
  text-decoration:none;
}
h1.box-title {
  color: #AEAEAE;
  background: #f8f8f8;
  font-weight: 300;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  text-align:center;
  margin: -27px -26px 26px;
}
.box-button {
  border-radius: 5px;
  background: #d2483c;
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  height: 51px;
  padding: 0;
  color: #fff;
  border: 0;
  outline:0;
}
.box-register
{
  text-align:center;
  margin-bottom:0px;
}
.box-register a
{
  text-decoration:none;
  font-size:12px;
  color:#666;
}
.box-input {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding-left:10px;
  border-radius: 5px;
  width: 347px;
  height: 50px;
}
.box-input:focus {
  outline: none;
  border-color:#5c7186;
}
.sucess{
  text-align: center;
  color: white;
}
.sucess a {
  text-decoration: none;
  color: #58aef7;
}
p.errorMessage {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 3px;
}


/*PAGE CRUD LIENS*/
.outer-div {
  margin-top: 150px;
  text-align: center;
}
.inner-div {
  display: inline-block;
  padding: 100px;
}